<div>
    <nav class="menu">
        <div class="logo">
            <p>Analu<span>.</span>io</p>
        </div>
        <div class="pipe"></div>
        <div class="menu-items">
            <a href="#">projects</a>
            <a href="#">blog</a>
            <a href="#">curriculum</a>
            <a href="#">about me</a>
        </div>
    </nav>
    <main>
        <div class="titulo">
            <p>Analu Sampaio</p>
            <p>new experiences</p>
            <p>together<span>.</span></p>
        </div>
        <section class="subtitulo">
            <div class="text">
                <p>Maecenas tincidunt tempor vehicula. Phasellus iaculis, sapien ut semper mollis, eros ex blandit.</p>
            </div>
            <button class="coffee-button">
                buy me a coffee
            </button>
        </section>

    </main>
    <aside>
        <section></section>
    </aside>

</div>
<footer class="footer">
    <div class="mapa-items">
        <p>Mapa do site</p>
        <a href="#">projects</a>
        <a href="#">blog</a>
        <a href="#">curriculum</a>
        <a href="#">about me</a>
    </div>
</footer>

