/* MENU */

.menu{
    display: flex;
    align-items: center;
}

.logo{
    font-weight: 700;
    font-size: 33px;
    margin-left: 30px;
}

span{
    color: #9771C0;
}

.pipe{
    height: 1.9em;
    background-color: #565C62;
    border: 1px solid #565C62;
    margin-left: 30px;
}

.menu-items{
    display: flex;
    margin-left: 30px;
    gap: 30px;
    width: 453px;
    height: 26px;

}

.menu-items a{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: #565C62;
}

main{
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin-left: 18%;
}

.subtitulo{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: initial;

}

.text{
    width: 308px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #565C62;
}

.coffee-button{
    height: 52px;
    width: 209px;
    border-radius: 40px;
    background-color: #FD6160;
    color: #FCF4F4;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

/* FOOTER */

.footer{
    background-color: #1C0C1B;
    height: 100vh;
    width: 100%;
    border-top-left-radius: 71px;
    border-top-right-radius: 71px;

}
